body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: slategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
}

.task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-form input, .task-form button {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
}

.color{
    color: white;
    background-color: midnightblue;
}

.task-list {
    margin-top: 20px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.task .actions {
    display: flex;
    gap: 10px;
}

.priority {
    font-weight: bold;
    color: red;
}

.estilo{
    color: black;
    text-decoration: none;
}